/* Container Styling */
.inspection-container {
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
   
  }
  
  h2 {
    color: #444;
    margin-bottom: 20px;
  }
  
  /* Table Wrapper for Scroll */
  .table-wrapper {
    overflow-x: auto;
  }
  
  /* Table Styling */
  .styled-table {
    width: 90%;
    margin-top: 30px;
    border-collapse: collapse;
  
    font-size: 18px;
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  
  .styled-table th,
  .styled-table td {
    padding: 12px 15px;
  }
  
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .styled-table tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
  }
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .styled-table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  /* Button Styling */
  .action-btn {
    padding: 8px 15px;
    background-color: #009879;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .action-btn:hover {
    background-color: #007f66;
  }
  