<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<!doctype html>
<html lang="en" data-bs-theme="auto">
    <body>
<main class="form-signin w-100 m-auto">
    <form #signupform="ngForm">
     
      <h1 class="h3 mb-3 fw-normal">Get Started</h1>

    <div class="error-popup" *ngIf="errorMsg">
      <div class="error-icon">
        <i class="fa fa-exclamation-circle"></i>
      </div>
      <div class="error-message">
        {{ errorMsg }}
      </div>
    </div>

    <div class="success-popup" *ngIf="successMsg">
      <div class="success-icon">
        <i class="fas fa-check-circle"></i> <!-- Success icon -->
      </div>
      <div class="success-message">
        {{ successMsg }}
      </div>
    </div>
    

      <div class="form-floating">
        <input type="email" class="form-control"  placeholder="Username" name="username" [(ngModel)]="username" required>
        <label for="floatingUsername">Username</label>
        <small *ngIf="signupform.controls['username']?.invalid && signupform.controls['username']?.touched" class="text-danger">Username is mandatory</small>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control"  placeholder="Password" name="password" [(ngModel)]="password" required>
        <label for="floatingPassword">Password</label>
        <small *ngIf="signupform.controls['password']?.invalid && signupform.controls['password']?.touched" class="text-danger">Password is mandatory</small>
      </div>
      
      <button class="btn btn-primary w-100 py-2" [disabled]="!signupform.valid" type="submit" (click)="onSignUp()">Sign up</button>
      <p class="mt-5 mb-3 text-body-secondary">&copy; 2024</p>
    </form>
  </main>
  <div style="height: 150px;"></div>
</body>
</html>
