
<div class="mb-0">
    <div class="row ">
        <div class="col-3">
             <app-executive-insurance-sidebar></app-executive-insurance-sidebar>
        </div>
        <div class="col-8" >
            <div class="welcome-container">
                <div class="welcome-content">
                  <h5 class="welcome-title">Welcome, <span class="customer-name">{{executive?.name}}</span>!</h5>
                </div>
              </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
